.in-addition {
  background: #F6F6F6;
  padding: 80px 40px 100px 40px;
}
@media(max-width:770px){
  .in-addition {
    padding: 80px 30px 100px 30px;
  }
}
@media(max-width:500px){
  .in-addition {
    padding: 42px 20px 42px 20px;
  }
}
.in-addition__container {
  display: flex;
  justify-content: center;
}
@media(max-width:1110px) {
  .in-addition__container {
    flex-direction: column;
    align-items: center;
  }
}

.in-addition__wrap-image {
  padding: 11px 30px 0 0;
}
@media(max-width:1110px) {
  .in-addition__wrap-image {
    order:2;
    padding: 62px 0 0 0;
  }
}
@media(max-width:400px) {
  .in-addition__wrap-image {
    order:2;
    padding: 38px 0 0 0;
  }
}
.in-addition__image {
}
@media(max-width:545px){
  .in-addition__image {
    width: 400px;
    height: 207px;
}
}
@media(max-width:425px){
  .in-addition__image {
    width: 360px;
    height: 186px;
}
}
@media(max-width:375px){
  .in-addition__image {
    width: 300px;
    height: 155px;
}
}
@media(max-width:335px){
  .in-addition__image {
    width: 260px;
    height: 135px;
}
}
.in-addition__wrap-info {
  display: flex;
  flex-direction: column;
  width: 380px;
}
@media(max-width:1110px) {
  .in-addition__wrap-info {
    order: 1;
  }
}
@media(max-width:410px) {
  .in-addition__wrap-info {
    order: 1;
    width: initial;

  }
}
.in-addition__title{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.11em;
color: #545454;
padding: 0 0 20px 0;
}
@media(max-width:1110px){
  .in-addition__title{
    padding: 0 0 22px 0;
  }
}
@media(max-width: 410px){
  .in-addition__title{
    font-size: 30px;
    text-align: center;
  }
}
@media(max-width: 325px){
  .in-addition__title{
    font-size: 25px;
  }
}
.in-addition__name-type-bank {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #545454;
padding: 0 0 20px 0;
}
@media(max-width:1110px){
  .in-addition__name-type-bank {
    letter-spacing: 0.1em;
  }
}
@media(max-width:410px){
  .in-addition__name-type-bank {
    line-height: 155%;
    letter-spacing: 0.06em;
    text-align: unset;
    white-space: nowrap;
  }
  @-moz-document url-prefix(){
    .in-addition__name-type-bank {
      font-size: 13px;
    }
  }
}
.in-addition__wrap-number-card {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background: #F1CDB3;
  border-radius: 9px;
  height: 43px;
  width: 380px;
  margin: 0 0 20px 0;
}
@media(max-width:410px){
  .in-addition__wrap-number-card {
    width: 278px;
    align-self:center ;
  }
}
.in-additon__wrap-icon {
  padding: 0 15px 0 15px;
}
.in-addition__icon-card {
}

.in-addition__number {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #545454;
}
@media(max-width:410px){
  .in-addition__number {
    font-size: 15px;
  }
  @-moz-document url-prefix(){
    .in-addition__number {
      font-size: 13.5px;
    }
  }
}

.in-additon__legal-info {
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}
@media(max-width:410px){
.in-additon__legal-info {
text-align: justify;
}
}