.our-friends {
  background: #F6F6F6;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px 40px;
}

.our-friends__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0 0 45px 0;
}

.our-friends__wrap-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {}

.carousel__box-cards {
  overflow: hidden;
  padding: 15px 0px 15px 0;
}

.carousel__mover {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 0 -20px;
}

.carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  margin: 0 20px 0 20px;
  transition-duration: 0.5s;
}

.carousel__card:hover {
  cursor: pointer;
}

.carousel__wrap-photo {
  padding: 0 0 30px 0;
  transition-duration: 0.5s;
}

.carousel__photo {}

.carousel__card:hover > div{
  transform: scale(1.1, 1.1);
  cursor: pointer;
  transition-duration: 0.2s;
}

.carousel__name-pet {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0 0 30px 0;
  text-align: center;
}

.carousel__wrap-button {
  padding: 0 0 30px 0;
}

.carousel__button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  box-sizing: content-box;
  background: #FAFAFA;
  transition-duration: 0.5s;
}

.carousel__button:hover {
  transition-duration: 0.2s;
  background: #FDDCC4;
}

.our-friends__wrap-controller {
  display: flex;
}

.our-friends__force-L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  margin: 0 10px 0 0;
}
.our-friends__force-L:hover {
  cursor: pointer;
}

.our-friends__normal-L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  margin: 0 10px;
}
.our-friends__normal-L:hover {
  cursor: pointer;
}

.our-friends__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  border-radius: 100px;
  background: #F1CDB3;
  color: #292929;
  margin: 0 10px;
}

.our-friends__force-R {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin: 0 10px;
  transition-duration: 0.5s;
}
.our-friends__force-R:hover {
  cursor: pointer;
  background: #FDDCC4;
  transition-duration: 0.2s;
}

.our-friends__normal-R {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin: 0 0 0 10px;
  transition-duration: 0.5s;
}
.our-friends__normal-R:hover {
  cursor: pointer;
  background: #FDDCC4;
  transition-duration: 0.2s;
}