.our-friends {
  background: #F6F6F6;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 80px 40px 100px 40px;
}
@media(max-width:780px){
  .our-friends__container {
    padding: 80px 30px 78px 30px;
  }
}
@media(max-width:365px){
  .our-friends__container {
    padding: 44px 10px 41px 10px;
  }
}

.our-friends__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #545454;
  padding: 0 0 45px 0;
}
@media(max-width:770px){
  .our-friends__title {
    padding: 0 0 14px 0;
  }
}
@media(max-width:470px){
  .our-friends__title {
    font-size: 30px;
  }
}
@media(max-width:415px){
  .our-friends__title {
    font-size: 25px;
    letter-spacing: 0.12em;
    padding: 0 0 27px 0;
  }
}

.our-friends__wrap-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {

}

.carousel__box-cards {
  position: relative;
  overflow: hidden;
  width: 1210px;
  height: 934px;
  padding: 15px 0px 15px 0;
  margin: 0 0 45px 0;
}
@media(max-width:1279px){
  .carousel__box-cards {
  height:1420px;
  width: 592px;
  }
}
@media(max-width:780px){
  .carousel__box-cards {
    margin: 0 0 20px 0;
  }
}
@media(max-width:645px){
  .carousel__box-cards {
  height:1420px;
  width: 283px;
  }
}
@media(max-width:350px){
  .carousel__box-cards {
    margin: 8px 0 20px 0;
  }
}

.carousel__mover {
  position: absolute;
  top: 8px;
  left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -30px -20px 0 -20px;
  width: 7425px;
  height: inherit;
  overflow: hidden;
  transition-duration: 1000ms;
}
@media(max-width:1280px){
  .carousel__mover {
    justify-content: center;
  }
}
@media(max-width:1279px){
  .carousel__mover {
    width: 4980px;
    flex-direction: column;
  }
}

.carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  margin: 30px 20px 0 20px;
  transition-duration: 0.5s;
  width: 270px;
  height: 435px;
}

.carousel__card:hover {
  cursor: pointer;
}

.carousel__card:nth-child(1){
  order:8;
}
.carousel__card:nth-child(2){
  order:7;
}
.carousel__card:nth-child(3){
  order:6;
}
.carousel__card:nth-child(4){
  order:5;
}
.carousel__card:nth-child(5){
  order:4;
}
.carousel__card:nth-child(6){
  order:3;
}
.carousel__card:nth-child(7){
  order:2;
}
.carousel__card:nth-child(8){
  order:1;
}


.carousel__wrap-photo {
  padding: 0 0 30px 0;
  transition-duration: 0.5s;
}

.carousel__photo {}

.carousel__card:hover {
  transform: scale(1.03, 1.03);
  cursor: pointer;
  transition-duration: 0.2s;
}

.carousel__name-pet {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0 0 30px 0;
  text-align: center;
}

.carousel__wrap-button {
  padding: 0 0 30px 0;
}

.carousel__button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 60px;
  box-sizing: content-box;
  background: #FAFAFA;
  transition-duration: 0.5s;
}
@media(max-width:770px){
  .carousel__button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #292929;
  padding: 15px 45px;
  }
}

.carousel__button:hover {
  transition-duration: 0.2s;
  background: #FDDCC4;
}

.our-friends__wrap-controller {
  display: flex;
}

.our-friends__force-L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  margin: 0 10px 0 0;
}

@media(max-width:400px){
  .our-friends__force-L {
    margin: 0 5px 0 0;
  }
}

.our-friends__normal-L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  margin: 0 10px;
  transition-duration: 0.5s;
}
@media(max-width:400px){
  .our-friends__normal-L {
    margin: 0 5px;
  }
}

.our-friends__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  border-radius: 100px;
  background: #F1CDB3;
  color: #292929;
  margin: 0 10px;
  transition-duration: 0.5s;
}
@media(max-width:400px){
  .our-friends__number {
    margin: 0 5px;
  }
}

.our-friends__force-R {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  margin: 0 10px;
  transition-duration: 0.5s;
}
@media(max-width:400px){
  .our-friends__force-R {
    margin: 0 5px;
  }
}
.our-friends__normal-R {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0px;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  margin: 0 0 0 10px;
  transition-duration: 0.5s;
}

@media(max-width:400px){
  .our-friends__normal-R {
    margin: 0 0 0 5px;
  }
}

.activ-button{
  border: 2px solid #F1CDB3;
  color: #292929;
}
.hover-button{
  background-color: #F1CDB3;
  cursor: pointer;
}

/*  -------------------- popUP ------------------------------ */

.carousel__popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1d1c1c80;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  z-index: 90;
}
.tech-visible{
  opacity: 1;
  visibility: visible;
}


.popUp {
}

.popUp__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.popUp__content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  background: #FAFAFA;
  color: #000000;
}
@media(max-width:1000px){
  .popUp__content {
    width: 630px;
    height: 350px;
  }
}
@media(max-width:645px){
  .popUp__content {
    width: 240px;
    height: 100%;
  }
}

.popUp__close{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -52px;
  right: -42px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition-duration: 0.5s;
}
@media(max-width:645px){
  .popUp__close{
    right: -30px;
  }
}
.popUp__close:hover{
  cursor: pointer;
  border: 2px solid #ec690c;
  background-color: #ecbd9b;
  transition-duration: 0.5s;
}
@media (hover: hover){
  .popUp__close:hover{
    cursor: pointer;
    border: 2px solid #ec690c;
    background-color: #ecbd9b;
    transition-duration: 0.5s;
  }
}
.popUp__wrap-cross{
  padding: 4px 0 0 0;
}

.popUp__icon-cross{
  display: inline-block;
}

.popUp__wrap-photo {
}
.popUp__photo {
  width: 493px;
  height: 493px;
}
@media(max-width:1000px){
  .popUp__photo {
    width: 344px;
    height: 344px;
  }
}
@media(max-width:645px){
  .popUp__photo {
    display: none;
  }
}

.popUp__wrap-info {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 88px 20px;
}
@media(max-width:1000px){
  .popUp__wrap-info {
    padding: 10px 10px 40px 10px;
  }
}
@media(max-width:645px){
  .popUp__wrap-info {
    padding:10px;
  }
}
.popUp__name {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.09em;
color: #000000;
padding: 0 0 10px 0;
}
@media(max-width:645px){
  .popUp__name {
    text-align: center;
  }
}
.popUp__species {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #000000;
padding: 0 0 40px 0;
}
@media(max-width:1000px){
  .popUp__species {
    padding: 0 0 20px 0;
  }
}
@media(max-width:645px){
  .popUp__species {
    text-align: center;
  }
}
.popUp__about {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
letter-spacing: 0.07em;
color: #000000;
padding: 0 0 40px 0;
}
@media(max-width:1000px){
  .popUp__about {
    font-size: 13px;
    padding: 0 0 20px 0;
  }
}
@media(max-width:645px){
  .popUp__about {
    padding: 0 0 25px 0;
  }
}
.popUp__subwrapInf {
  display: flex;
  flex-direction: column;
}
.popUp__dot{
  width: 4px;
  height: 4px;
  background: #F1CDB3;
  border-radius: 50%;
  margin: 0 10px 0 0;
  align-self: center;
}
.popUp__wrap-age {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
@media(max-width:645px){
  .popUp__wrap-age {
  padding: 0 0 5px 0;
  }
}
.popUp__age {
  font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
}
.pop__age-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__wrap-inocul {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
@media(max-width:645px){
  .popUp__wrap-inocul {
  padding: 0 0 5px 0;
  }
}
.popUp__inocul {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__inocul-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__wrap-disease {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
@media(max-width:645px){
  .popUp__wrap-disease {
   padding: 0 0 5px 0;
  }
}
.popUp__disease {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__disease-term {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
}
.popUp__wrap-parasite {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
@media(max-width:645px){
  .popUp__wrap-parasite {
   padding: 0 0 5px 0;
  }
}
.popUp__parasite {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__parasite-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}