.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

}
.footer__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 65px 0px 0 0px;
}
@media(max-width:1240px){
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:800px){
  .footer__container {
    padding: 27px 0px 0 0px;
  }
  @-moz-document url-prefix(){
    .footer__container {
      padding: 27px 10px 0 10px;
    }
  }
}
@media(max-width:330px){
  .footer__container {
    padding: 36px 0px 0 0px;
  }
  @-moz-document url-prefix(){
    .footer__container {
      padding: 27px 10px 0 10px;
    }
  }
}

.footer__wrap-contacts {
  display: flex;
  padding: 0 0 48px 0;
}
@media(max-width:800px){
  .footer__wrap-contacts {
    padding: 0 0 57px 0;
  }
}
@media(max-width:717px){
  .footer__wrap-contacts {
    flex-direction: column;
  }
}
@media(max-width:330px){
  .footer__wrap-contacts {
    padding: 0 0 44px 0;
  }
}

.footer__subwrap {
  padding: 0 0 0 0;
}
.footer__subwrap:nth-child(1){
  padding: 0 157px 0 0;
}
@media(max-width:1240px){
  .footer__subwrap {
    /* padding: 0 0 0 0; */
  }
  .footer__subwrap:nth-child(1){
    padding: 0 60px 0 0;
  }
}
@media(max-width:800px){
  .footer__subwrap:nth-child(1){
    padding: 0 0px 0 7px;
  }
  .footer__subwrap:nth-child(2){
    padding: 0 43px 0 49px;
  }
  @-moz-document url-prefix(){
    .footer__subwrap:nth-child(2){
      padding: 0 10px 0 30px;
    }
  }
}
@media(max-width:717px){
  .footer__subwrap:nth-child(1){
    padding: 0 0px 40px 0px;
  }
  .footer__subwrap:nth-child(2){
    padding: 0 0px 0 0px;
  }
  @-moz-document url-prefix(){
    .footer__subwrap:nth-child(2){
      padding: 0 0px 0 0px;
    }
  }
  .footer__subwrap{
    /* align-items: center; */
  }
}

.footer__title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.12em;
color: #FFFFFF;
padding: 0 0 35px 0;
}
.break-line{

}
.break-line-1{
 display: none;
}
@media(max-width:761px){
  .footer__title {
    font-size: 35px;
  }
}
@media(max-width:717px){
  .footer__title {
    text-align: center;
    
  }
  .break-line{
    display: none;
  }
  .break-line-1{
    display: inline-block;
   }
}
@media(max-width:500px){
  .footer__title {
   font-size: 30px;
  }
}
@media(max-width:390px){
  .footer__title {
   font-size: 25px;
  }
}
.footer__wrap-email-phone {
  display: flex;
}
.footer__wrap-email-phone:not(:last-child){
  padding: 0 0 40px 0;
}
@media(max-width:717px){
  .footer__wrap-email-phone{
    justify-content: center;
  }
}
.footer__link-email {
  display: flex;
  align-items: center;
}
.footer__icon-post {
  padding: 0 20px 0 0;
}
.footer__contact {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__link-phone {
  display: flex;
  align-items: center;
}
.footer__icon-phone {
  display: inline-block;
  padding: 0 20px 0 0;
}
.footer__phone {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3
}
.footer__wrap-map {
  
}
.footer__wrap-map:not(:last-child) {
  padding: 0 0 40px 0;
}
.footer__link-map {
  display: flex;
}
@media(max-width: 720px){
  .footer__link-map {
    justify-content: center;
  }
}
@media(max-width: 340px){
  .footer__link-map {
    justify-content:flex-start;
  }
}

.footer__icon-location {
  display: inline-block;
  padding: 0 20px 0 0;
}
.footer__adress {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__wrap-image-puppy {
  position: absolute;
  right: 0;
  bottom:0;
}
@media(max-width:1240px){
  .footer__wrap-image-puppy {
    position: relative;
  }
}
.footer__image-puppy {
}

@media(max-width:380px){
  .footer__image-puppy {
    width: 269px;
    height: 269px;
  }
}