.help {
}
.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px 0;
}
._container {
}
.help__title {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.08em;
color: #545454;
padding: 0 0 5px 0;
text-align: center;
}
.help__wrap-offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -60px 0 -60px;
}
.help__offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 62px 0 60px;
}
.help__wrap-icon {
  padding: 0 0 30px 0;
}
.help__icon {
}
.help__text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}