.about {}
.about__container {
  display: flex;
  justify-content: center;
  padding: 94px 40px 100px 40px;
}
.about__wrap-cat-dog {
  padding: 0 120px 0 0;
  margin: -14px 0 0px 0;
}
.about__image-cat-dog {
  
}
.about__info-wrap {
  width: 430px;
}
.about__title {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
padding: 0 0 25px 0;
letter-spacing: 4px;
}
.about__text {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #4C4C4C;
}
.about__text:not(:last-child) {
  padding: 0 0 25px 0;
}