.header {
  min-height: 120px;
  width: 100%;
  background: #FFFFFF;
  padding: 0 40px 0 40px;
}
@media(max-width:800px){
  .header {
    padding: 0 30px 0 30px;
  }
}
@media(max-width:400px){
  .header {
    padding: 0 10px 0 10px;
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: inherit;
}

.header__wrap-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: inherit;
  padding: 0 0 30px 0;
}
@media(max-width:360px){
  .header__wrap-logo {
    padding: 0 0 30px 11px;
  }
}
.header__title {
 padding: 0 0 10px 0;
}

.header__link-title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.header__navigation {
  align-self: center
}
@media(max-width:767px){
  .header__navigation {
    display: none;
  }
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__navigation-item {

}
.header__navigation-item:not(:last-child){
  padding: 0 35px 0 0 ;
}

.header__item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  transition-duration: 0.5s;
}
.header__item:hover {
  cursor: pointer;
  color: #292929;
  transition-duration: 0.2s;
}
._item-choice{
  color: #292929;
  border-bottom: 3px solid #F1CDB3;;

}
 /* ------------------------------------- burger -------------------------------- */
.header__wrap-burger {
  position: relative;
  display: none;
  z-index: 50;
}
.header__wrap-burger:hover {
 cursor: pointer;
}

@media(max-width:767px){
  .header__wrap-burger {
    display: block;
    margin: 49px 23px 0 0;
  }
}
@media(max-width:360px){
  .header__wrap-burger {
    display: block;
    margin: 49px 13px 0 0;
  }
}

.header__burger {
  margin: -10px 0px;
}

.burger {
}

.burger__line {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  margin: 9px 0px;
}

.rotate{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

/*  ---------------------- menu-burger ---------------------------- */

.header__menu-burger {
  position: fixed;
  top: 0;
  right: -350px;
  width: 320px;
  background-color: #292929;
  z-index: 49;
  padding: 248px 0 0 0;
  transition-duration: 0.5s;
}
.shift{
  right: 0px;
  transition-duration: 0.5s;
}
.menu-burger {
}
.menu-burger__container {
}
.menu-burger__navigation {
  
}
.menu-burger__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-burger__navigation-item:not(:last-child) {
  padding: 0 0 40px 0;
}

.menu-burger__item {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 160%;
color: #CDCDCD;
}
.menu-burger__item:first-child {
 padding: 0 0 7px 0;
}

.body-block-scroll{
  overflow: hidden;
}

.shadow-pets{
 position: fixed;
 top: 0;
 opacity: 0;
 overflow: hidden;
 background-color: #29292986;
 z-index: 48;
 transition: all 0.8s ease 0s;
}

.shadow-activ-pets{
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  overflow: visible;
  transition: all 0.8s ease 0s;
}
