.our-friends {
  background: #F6F6F6;
  padding: 0px 40px 0px 40px;
}
@media(max-width:1141px){
  .our-friends {
    padding: 0px 30px 0px 30px;
  }
}
@media(max-width:720px){
  .our-friends {
    padding: 0px 30px 0px 30px;
  }
}
@media(max-width:720px){
  .our-friends {
    padding: 0px 10px 0px 10px;
  }
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 111px 0;
}

@media(max-width:540px){
  .our-friends__container {
    padding: 42px 0 53px 0;
  }
}

.our-friends__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #545454;
  text-align: center;
  padding: 0 0 60px 0;
}
@media(max-width:540px){
  .our-friends__title {
    font-size: 31px;
    padding: 0 0 42px 0;
  }
}
@media(max-width:493px){
  .our-friends__title {
    font-size: 25px;
    padding: 0 0 42px 0;
  }
}

.our-friends__box-carousel {
}

.box-carousel {}

.box-carousel__mover {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 80px 0;
}

@media(max-width:800px){
  .box-carousel__mover {
    padding: 0 0 72px 0;
  }
}
@media(max-width:540px){
  .box-carousel__mover {
    padding: 0 0 127px 0;
  }
}

.box-carousel__limiter-length{
  position: relative;
  width: 990px;
  height: 440px;
  overflow: hidden;
}

.box-carousel__cards-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition-duration: 0.6s;
}
@media(max-width:1141px){
  .box-carousel__cards-list {
    width: 890px;
  }
}
@media(max-width:1135px){
  .box-carousel__cards-list {
    width: 580px;
  }
}
@media(max-width:720px){
  .box-carousel__cards-list {
    width: 270px;
  }
}

.box-carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 90px 0 0;
  background: #FAFAFA;
  transition-duration: 0.5s;
}
@media(max-width:1170px){
  .box-carousel__card {
    margin: 0 40px 0 0;
  }
}
.box-carousel__card:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition-duration: 0.2s;
}
@media(max-width:800px) {
  .box-carousel__card{
    pointer-events: none;
  }
}
.box-carousel__wrap-photo {
  padding: 0 0 30px 0;
  transition-duration: 0.5s;
}

.box-carousel__photo {}

.box-carousel__name-pet {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0 0 30px 0;
  text-align: center;
}

.box-carousel__wrap-button {
  padding: 0 0 30px 0;
}

.box-carousel__button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 60px;
  box-sizing: content-box;
  background: #FAFAFA;
  transition-duration: 0.5s;
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
}

.box-carousel__button:hover {
  transition-duration: 0.2s;
  background: #FDDCC4;
}

@media(max-width:770px){
  .box-carousel__button {
    padding: 15px 45px;
  }
}


.our-friends__button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  transition-duration: 0.5s;
}

.our-friends__button:hover {
  transition-duration: 0.2s;
  background: #FDDCC4;
}

.our-friends__text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
@media(max-width:770px){
  .our-friends__text {
    letter-spacing: 0.09em;
  }
}

.box-carousel__button-arrow-L {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition-duration: 0.5s;
  margin: 0 53px 0 0;
  user-select: none;
}
.box-carousel__button-arrow-L:hover {
  transition-duration: 0.2s;
  cursor: pointer;
  background: #FDDCC4;
}
@media(max-width:1240px){
  .box-carousel__button-arrow-L {
    margin: 0 12px 0 0;
  }
}
@media(max-width:450px){
  .box-carousel__button-arrow-L {
    position: absolute;
    bottom: 57px;
    left: 43px;
  }
}
.box-carousel__button-arrow-R {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition-duration: 0.5s;
  margin: 0 0 0 53px;
  user-select: none;
}

.box-carousel__button-arrow-R:hover {
  transition-duration: 0.2s;
  cursor: pointer;
  background: #FDDCC4;
}

@media(max-width:1240px){
  .box-carousel__button-arrow-R {
    margin: 0 0px 0 12px;
  }
}
@media(max-width:450px){
  .box-carousel__button-arrow-R {
    position: absolute;
    bottom: 57px;
    right: 43px;
  }
}

/* ------------------------ popUP ------------------------ */

.our-friends__popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1d1c1c80;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  z-index: 90;
}
.tech-visible{
  opacity: 1;
  visibility: visible;
}
.popUp {
}
.popUp__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.popUp__content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  background: #FAFAFA;
  color: #000000;
}

.popUp__close{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -52px;
  right: -42px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.popUp__close:hover{
  cursor: pointer;
}

.popUp__wrap-cross{
  padding: 4px 0 0 0;
}

.popUp__icon-cross{
  display: inline-block;
}

.popUp__wrap-photo {
}
.popUp__photo {
  width: 500px;
  height: 500px;
}
.popUp__wrap-info {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 88px 20px;
}
.popUp__name {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.09em;
color: #000000;
padding: 0 0 10px 0;
}
.popUp__species {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #000000;
padding: 0 0 40px 0;
}
.popUp__about {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
letter-spacing: 0.07em;
color: #000000;
padding: 0 0 40px 0;
}
.popUp__subwrapInf {
  display: flex;
  flex-direction: column;
}
.popUp__dot{
  width: 4px;
  height: 4px;
  background: #F1CDB3;
  border-radius: 50%;
  margin: 0 10px 0 0;
  align-self: center;
}
.popUp__wrap-age {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.popUp__age {
  font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
}
.pop__age-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__wrap-inocul {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.popUp__inocul {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__inocul-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__wrap-disease {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.popUp__disease {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__disease-term {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
}
.popUp__wrap-parasite {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.popUp__parasite {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__parasite-term {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}